*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    height: 550px;
    background-color: #002550;
}
#sidebarControl{
    display: none;
}
#sidebarControl:checked ~ .sidebar .profile{
    text-align: center;
    margin-bottom: 25px;
}
#sidebarControl:checked ~ .sidebar .profile img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 85px;
    margin-top: -20px;
}
#sidebarControl:checked ~ .sidebar .profile h3{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fefefe;
}
#sidebarControl:checked ~ .sidebar .profile p{
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #c8c8c8;
}
#sidebarControl:not(:checked) ~ .sidebar .profile{
    display: none;
}
.menuitems{
    display: block;
    opacity: 50%;
    transition: 0.3s;
    margin-top: -5px;
}
.menuitems:hover{
    opacity: 100%;
    transition: 0.3s;
}
.menuitems img{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 25%;
}
#sidebarControl:checked ~ .sidebar .menuitems{
    margin-left: -200px;
}
#sidebarControl:not(:checked) ~ .sidebar{
    width: 50px;
    background-color: #000025;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: 0.3s;
}
#sidebarControl:checked ~ .sidebar{
    width: 250px;
    background-color: #000025;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: 0.3s;
}
#sidebarControl:checked ~ .sidebar nav ul{
    width: 100%;
    opacity: 100%;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul{
    padding: 175px;
    opacity: 50%;
}
#sidebarControl:checked ~ .sidebar nav ul li{
    width: 100%;
}
#sidebarControl:checked ~ .sidebar nav ul li a{
    color: #fefefe;
    font-size: 0.9rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a p{
    display: none;
}
#sidebarControl:checked ~ .sidebar nav ul li a img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a img{
    display: block;
    width: 25px;
    height: 25px;
}
#sidebarControl:checked ~ .sidebar nav ul li a:hover{
    background-color: #002550;
    transition: 0.3s;
}
#sidebarControl:checked ~ .sidebar *{
    display: block;
}