*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}
html, body{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #002550;
}
body{
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
a{
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}
html::-webkit-scrollbar{
    display: none; /*Chrome, Safari and Opera*/
}
/*Start of Side Drop Down Menu*/
#sidebarControl{
    display: none;
}
/*Profile*/
#sidebarControl:checked ~ .sidebar .profile{
    text-align: center;
    margin-bottom: 4vh;
}
#sidebarControl:checked ~ .sidebar .profile img{
    display: block;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 100%;
    margin: auto;
}
#sidebarControl:checked ~ .sidebar .profile h3{
    display: block;
    margin-top: 1.75vh;
    font-size: min(1.5vw, 3.5vh);
    font-weight: bold;
    color: white;
}
#sidebarControl:checked ~ .sidebar .profile p{
    display: block;
    margin-top: 1.75vh;
    font-size: min(2.625vh, 1.125vw);
    color: white;
    opacity: 50%;
}
#sidebarControl:not(:checked) ~ .sidebar .profile *{
    display: none;
}
/*Menu Icon*/
.menuitems{
    display: block;
    opacity: 50%;
    transition: 0.3s;
    margin-top: 0.875vw;
}
.menuitems:hover{
    opacity: 100%;
    transition: 0.3s;
}
.menuitems img{
    width: 2.25vw;
    height: 2.25vw;
    border-style: solid;
    border-radius: 25%;
}
#sidebarControl:checked ~ .sidebar .menuitems{
    margin-left: -15vw;
}
/*Sidebar*/
#sidebarControl:not(:checked) ~ .sidebar{
    width: 4vw;
    background-color: #000025;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    min-height: 100%;
}
#sidebarControl:checked ~ .sidebar *{
    display: block;
}
#sidebarControl:checked ~ .sidebar{
    width: 19vw;
    background-color: #000025;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
/*Sidebar List*/
#sidebarControl:checked ~ .sidebar nav ul{
    opacity: 100%;
}
#sidebarControl:checked ~ .sidebar nav ul li a{
    color: white;
    font-size: min(2.625vh, 1.125vw);
    padding: 1.75vh;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 50%;
}
#sidebarControl:checked ~ .sidebar nav ul li a:hover{
    opacity: 100%;
}
#sidebarControl:checked ~ .sidebar nav ul li a img{
    margin-right: 0.75vw;
    width: 2vw;
    height: 4.5vh;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul{
    padding: 15vh;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a{
    padding: 1.75vh 1vw;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 50%;
    width: 4vw;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a:hover{
    opacity: 100%;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a p{
    display: none;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a img{
    display: block;
    width: 2vw;
    height: 4.5vh;
}
.sidebar nav ul li a:hover{
    background-color: #002550;
    transition: 0.3s;
}
/*End of Side Drop Down Menu*/

/*Start of Content*/
/*Start of Upper "Menu"*/
.content-box{
    display: flex;
    flex-direction: column;
}
#sidebarControl:not(:checked) ~ .content-box .box{
    background-color: #000025;
    height: 9vh;
    line-height: 9vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
#sidebarControl:checked ~ .content-box .box{
    background-color: #000025;
    height: 9vh;
    line-height: 9vh;
    width: 81vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.content-box .box h3{
    color: white;
    opacity: 50%;
    font-size: min(1.5vw, 3.5vh);
    margin: auto;
    text-align: center;
}
/*End of Upper "Menu"*/

/*Start of Contact*/
.contact-form{
    height: 86vh;
    line-height: 10vh;
    width: calc(40vw + 7.5vh);
    border-radius: 2vh / 2vh;
    background-color: white;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.contact-form input{
    margin-top: 2.5vh;
    padding-left: 1.5vh;
}
.contact-form textarea{
    margin-top: 2.5vh;
    width: calc(40vw + 2.5vh);
    height: 27.5vh;
    resize: none;
    padding: 1.5vh;
}
.contact-form .column{
    display: flex;
    flex-direction: row;
}
.contact-form .column input{
    width: 20vw;
    margin-right: 1.25vh;
    margin-left: 1.25vh;
}
.contact-form input{
    width: calc(40vw + 2.5vh);
    height: 8vh;
}
.contact-form .row input{
    width: 20vw;
    height: 8vh;
}
.contact-form input[type=submit]:not(:active){
    width: calc(40vw + 2.5vh);
    height: 8vh;
    background-color: #002550;
    border-radius: 1vh / 1vh;
    margin-top: 3vh;
    line-height: 8vh;
    color: white;
    font-size: min(3vh, 1.3vw);
    border: none;
}
.contact-form input[type=submit]:hover{
    background-color: #000025;
}
.contact-form input[type=submit]:hover:active{
    width: calc(40vw + 2.5vh);
    height: 8vh;
    background-color: black;
    border-radius: 1vh / 1vh;
    margin-top: 3vh;
    line-height: 8vh;
    color: white;
    font-size: min(3vh, 1.3vw);
}
/*End of Contact*/

/*Start of Main Box*/
.main-box{
    line-height: 10vh;
    width: calc(81vw - 5vh);
    border-radius: 2vh / 2vh;
    background-color: white;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2.5vh;
    line-height: normal;
    padding: 2.5vh 2.5vh 2.5vh 2.5vh;
    margin-bottom: 0vh;
}
.main-box .important p{
    font-weight: bold;
}
.main-box .important h3{
    font-weight: bold;
    font-size: min(1.5vw, 3.5vh);
}
.main-box p{
    font-size: min(2.625vh, 1.125vw);
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
}
.heading{
    width: calc(81vw - 5vh);
    border: transparent;
    text-align: center;
    align-items: center;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
}
.heading .links{
    background-color: #000012;
    width: 10vw;
    height: 5vh;
    margin-left: 34.5vw;
    border-radius: 1vh / 1vh;
    transition: 0.3s;
}
.heading .links:hover{
    background-color: #002550;
    transition: 0.3s;
}
.heading .links a p{
    line-height: 5vh;
    color: white;
    font-weight: bold;
}
.main-box hr{
    display: block;
    width: calc(81vw - 5vh);
    border-bottom: 1px solid #000012;
    margin-left: -34.5vw;
    margin-top: 2.5vh;
    position: absolute;
    z-index: -1;
}
.main-box img{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}
/*Start of Degree Subjects Expandable Menu*/
#subjects{
    display: none;
}
#subjects2{
    display: none;
}
#subjects3{
    display: none;
}
.hover-effect{
    text-align: center;
    transition: 0.3s;
}
.hover-effect:hover{
    opacity: 50%;
    transition: 0.3s;
}
#subjects:checked ~ .content-box .main-box .check1 .subject-display{
    display: block;
}
#subjects2:checked ~ .content-box .main-box .check2 .subject-display{
    display: block;
}
#subjects3:checked ~ .content-box .main-box .check3 .subject-display{
    display: block;
}
.subject-display{
    display: none;
}
.subject-title{
    background-color: #000012;
    width: 40vw;
    height: 5vh;
    margin-left: 19.25vw;
    border-radius: 1vh / 1vh;
    transition: 0.3s;
    color: white;
    line-height: 5vh;
}
.subject-title hr{
    display: block;
    width: calc(81vw - 5vh);
    border-bottom: 1px solid #000012;
    margin-left: -19.25vw;
    margin-top: 2.5vh;
    position: absolute;
    z-index: -1;
}
.subject-title-a:hover{
    background-color: #002550;
    width: 40vw;
    height: 5vh;
    margin-left: 19.25vw;
    border-radius: 1vh / 1vh;
    transition: 0.3s;
    color: white;
    line-height: 5vh;
}
.subject-title-a{
    background-color: #000012;
    width: 40vw;
    height: 5vh;
    margin-left: 19.25vw;
    border-radius: 1vh / 1vh;
    transition: 0.3s;
    color: white;
    line-height: 5vh;
}
.subject-title-a hr{
    display: block;
    width: calc(81vw - 5vh);
    border-bottom: 1px solid #000012;
    margin-left: -19.25vw;
    margin-top: 2.5vh;
    position: absolute;
    z-index: -1;
}
#subjects:not(:checked) ~ .sidebar{
    height: 161vh;
}
#subjects:checked ~ .sidebar{
    height: 247.5vh;
}
#subjects2:checked ~ .sidebar{
    height: 285.5vh;
}
#subjects3:checked ~ .sidebar{
    height: 178.5vh;
}
#subjects:checked ~ #subjects2:checked ~ .sidebar{
    height: 372vh;
}
#subjects:checked ~ #subjects3:checked ~ .sidebar{
    height: 265vh;
}
#subjects2:checked ~ #subjects3:checked ~ .sidebar{
    height: 303vh;
}
#subjects:checked ~ #subjects2:checked ~ #subjects3:checked ~ .sidebar{
    height: 389.5vh;
}