*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #002550;
}

/*Start of Side Drop Down Menu*/
#sidebarControl{
    display: none;
}
/*Profile*/
#sidebarControl:checked ~ .sidebar .profile{
    text-align: center;
    margin-bottom: 4vh;
}
#sidebarControl:checked ~ .sidebar .profile img{
    display: block;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 100%;
    margin: auto;
}
#sidebarControl:checked ~ .sidebar .profile h3{
    display: block;
    margin-top: 1.75vh;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
#sidebarControl:checked ~ .sidebar .profile p{
    display: block;
    margin-top: 1.75vh;
    font-size: 0.9rem;
    color: white;
    opacity: 50%;
}
#sidebarControl:not(:checked) ~ .sidebar .profile *{
    display: none;
}
/*Menu Icon*/
.menuitems{
    display: block;
    opacity: 50%;
    transition: 0.3s;
    margin-top: 0.875vw;
}
.menuitems:hover{
    opacity: 100%;
    transition: 0.3s;
}
.menuitems img{
    width: 2.25vw;
    height: 2.25vw;
    border-style: solid;
    border-radius: 25%;
}
#sidebarControl:checked ~ .sidebar .menuitems{
    margin-left: -15vw;
}
/*Sidebar*/
#sidebarControl:not(:checked) ~ .sidebar{
    width: 4vw;
    background-color: #000025;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
#sidebarControl:checked ~ .sidebar *{
    display: block;
}
#sidebarControl:checked ~ .sidebar{
    width: 19vw;
    background-color: #000025;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
/*Sidebar List*/
#sidebarControl:checked ~ .sidebar nav ul{
    opacity: 100%;
}
#sidebarControl:checked ~ .sidebar nav ul li a{
    color: white;
    font-size: 0.9rem;
    padding: 1.75vh;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 50%;
}
#sidebarControl:checked ~ .sidebar nav ul li a:hover{
    opacity: 100%;
}
#sidebarControl:checked ~ .sidebar nav ul li a img{
    margin-right: 0.75vw;
    width: 2vw;
    height: 4.5vh;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul{
    padding: 15vh;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a{
    padding: 1.75vh 1vw;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 50%;
    width: 4vw;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a:hover{
    opacity: 100%;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a p{
    display: none;
}
#sidebarControl:not(:checked) ~ .sidebar nav ul li a img{
    display: block;
    width: 2vw;
    height: 4.5vh;
}
.sidebar nav ul li a:hover{
    background-color: #002550;
    transition: 0.3s;
}
/*End of Side Drop Down Menu*/

/*Start of Content*/
.content-box{
    display: flex;
    flex-direction: column;
}
#sidebarControl:not(:checked) ~ .content-box .box{
    background-color: #000025;
    height: 9vh;
    line-height: 9vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
#sidebarControl:checked ~ .content-box .box{
    background-color: #000025;
    height: 9vh;
    line-height: 9vh;
    width: 81vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.content-box .box h3{
    color: white;
    opacity: 50%;
    font-size: 1.2rem;
    margin: auto;
    align-items: center;
}
.contact-form{
    height: 85vh;
    line-height: 10vh;
    width: calc(40vw + 7.5vh);
    border-radius: 2vh / 2vh;
    background-color: white;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.contact-form input{
    margin-top: 2.5vh;
    padding-left: 1.5vh;
}
.contact-form textarea{
    margin-top: 2.5vh;
    width: calc(40vw + 2.5vh);
    height: 27.5vh;
    resize: none;
    padding: 1.5vh;
}
.contact-form .column{
    display: flex;
    flex-direction: row;
}
.contact-form .column input{
    width: 20vw;
    margin-right: 1.25vh;
    margin-left: 1.25vh;
}
.contact-form input{
    width: calc(40vw + 2.5vh);
    height: 8vh;
}
.contact-form .row input{
    width: 20vw;
    height: 8vh;
}
.contact-form input[type=submit]:not(:active){
    width: calc(40vw + 2.5vh);
    height: 8vh;
    background-color: #002550;
    border-radius: 1vh / 1vh;
    margin-top: 2.5vh;
    line-height: 8vh;
    color: white;
    font-size: 3vh;
    border: none;
}
.contact-form input[type=submit]:hover{
    background-color: #000025;
}
.contact-form input[type=submit]:hover:active{
    width: calc(40vw + 2.5vh);
    height: 8vh;
    background-color: black;
    border-radius: 1vh / 1vh;
    margin-top: 2.5vh;
    line-height: 8vh;
    color: white;
    font-size: 3vh;
}